<!DOCTYPE html>
<!--<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--css-->
<link rel="stylesheet" type="text/css" href="../static/css/my.css" charset="utf-8">
<!--js-->
<!--<script src="../static/js/my1.js"></script>-->
<head>
    <meta charset="UTF-8">
    <title>HelloThymeleaf</title>
</head>
<body>
<h1 class="head1">thymeleaf in spring boot111</h1>
<form class="head1" enctype="multipart/form-data" method="post" action="/uploadList">
    文件上传
    <!--这里怎么隐藏或者修改（选择文件）-->
    <input type="file" name="file1"/>
    <input class="head1" type="submit" value="上传"/>
</form>

</body>
</html>